/* Style all headings */
body {
    background-image: url("Notepad.jpeg");
}
h1 {
    color: darkslategray; 
    font-family: 'Dancing Script', cursive;
}
body {
    font-family: 'Sree Krushnadevaraya', serif;
    color: darkslategray;
}
#heading {
color: darkslategray;
}

.task-row {
    color: darkslategray;
}
/* #middle-row { */
    /* color: green; */
    /* text-decoration: line-through; */
    /* display: none; */

#div1 {
    border: 2px solid gray;
    border-style: dotted;
    background-color: lightcyan;
    font-weight: normal;
    width: 60%;
    text-align: center;
    margin: 25px auto auto auto;
}
#div2 {
    margin: 35px auto 0 auto;
    width: 80%;
    font-family: 'EB Garamond', serif;
    font-size: large;
    text-align: center;
    color: darkslategray;
}
.get-started {
    background-color: white;
    font-family: 'EB Garamond', serif;
    font-size: medium;
    border: 2px solid gray;
    border-style: dotted;
}
#div3 {
    margin: 50px 0 20px 10px;
}
#div4 {
    margin: 20px 0 20px 10px;
}
#div5 {
    margin: auto;
    padding: 0 0 25px 0;
    width: 60%;
}
#div6 {
    margin: auto;
    padding: 0px 10px 0px 10px;
    width: 20%;
    background-color: white;
    font-family: 'EB Garamond', serif;
    font-size: medium;
    border: 2px solid gray;
    border-style: dotted;
    text-align: center;
}
#div7 {
    margin: 30px auto 0 10px;
}
.my-span {
    border: 2px solid yellow;
}